<nav>
    <div class="navbarContainer">
        <a href="/" class="logoText">Members Only</a>
        
        <h1 class="UserHeader">Welcome Back <%= user.name %> </h1>

        <div class="buttonContainer">
            <a class="button logButton" href="/log-out">LOG OUT</a>
        </div>
    </div>
</nav>