<nav>
    <div class="navbarContainer">
        <a href="/" class="logoText">Members Only</a>
        
        <div class="buttonContainer">
            <a href="/log-in" class="button loginButton">Login</a>
            <a href="/sign-up" class="button signupButton">Sign Up</a>
        </div>
    </div>
</nav>